#mymap {
    height: 600px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    /*float: center;*/
}

#heading {
    font-family: gothic;
    text-align: center;
}

#title {
    text-align: center;
    color: rgba(0, 0, 0, 1.0);
    font-family: gothic;
    font-weight: bold;
}

#subhead {
    text-align: center;
    color: rgba(0, 0, 0, 1.0);
    font-size: 60%;
    vertical-align: text-bottom;
    font-family: gothic;
}

body {
    background-image: url("beach1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 200%;
}
