h1 {
    text-align: center;
    font-size: 300%;
    font-family: Arial;
}

h2 {
    text-align: center;
    font-family: Arial;
}

body {
    background-image: url("saro.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/*p {
    text-align: center;
    font-family: cursive;
    font-size: 200%;
    font-weight: bold;
}*/

div {
    column-count: 2;
    text-align: center;
    font-family: cursive;
    font-size: 200%;
    font-weight: bold;
}
