#mapid {
    height: 600px;
    width: 95%;
    margin: auto;
}

#heading {
    font-family: calibri;
    text-align: center;
}

#title {
    text-align: center;
    color: white;
    font-family: arial;
}

#subhead {
    text-align: center;
    color: white;
    font-size: 60%;
    vertical-align: text-bottom;
    font-family: arial;
}

body {
    background-color: rgba(0, 15, 60, 0.80);
    }

#home {
    transform: rotate(270deg);
    margin: auto;
    margin-left: 20px;
    height: 150px;
}

#pm {
   /* transform: rotate(270deg); */
/*    margin-left: 230px;*/
    margin: auto;
    height: 150px;
}

#vyard {
  /*  transform: rotate(270deg);*/
  /*  margin-left: 160px;*/
    margin: auto;
    height: 150px;
}

#ljhs {
  /*  transform: rotate(270deg); */
  /*  margin-left: 60px;*/
    margin: auto;
    height: 150px;
}

#church {
  /*  transform: rotate(270deg); */
  /*  margin-left: 18px;*/
    margin: auto;
    height: 150px;
}

#mvhs {
  /*  transform: rotate(270deg); */
   /* margin-left: 210px;*/
    margin: auto;
    height: 150px;
}