#mapid {
    height: 600px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    /*float: center;*/
}

#heading {
    font-family: calibri;
    text-align: center;
}

#title {
    text-align: center;
    color: white;
    font-family: arial;
}

#subhead {
    text-align: center;
    color: white;
    font-size: 60%;
    vertical-align: text-bottom;
    font-family: arial;
}

#home {
    transform: rotate(270deg);
    margin: auto;
    margin-left: 20px;
    height: 150px;
}

#pm {
    margin: auto;
    height: 150px;
}

#vyard {
    margin: auto;
    height: 150px;
}

#ljhs {
    margin: auto;
    height: 150px;
}

#church {
    margin: auto;
    height: 150px;
}

#mvhs {
    margin: auto;
    height: 150px;
}

#orem1 {
    width: 8%;
    position: fixed;
    left: 10;
    bottom: 10px;
}

#orem2 {
    width: 8%;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

body {
    background-image: url("timp.jpg");
    background-repeat: no-repeat;
    background-size: 125%, 125%;
    background-position: 80%, 150%;
}
