#mapid {
    height: 500px;
    width: 70%;
    margin: auto;
}

#heading {
    font-family: calibri;
    text-align: center;
}

#title {
    text-align: center;
    color: white;
    font-family: arial;
}

#subhead {
    text-align: center;
    color: white;
    font-size: 60%;
    vertical-align: text-bottom;
    font-family: arial;
}


#home {
    transform: rotate(270deg);
    margin: auto;
    margin-left: 20px;
    height: 150px;
}

#pm {
    margin: auto;
    height: 150px;
}

#vyard {
    margin: auto;
    height: 150px;
}

#ljhs {
    margin: auto;
    height: 150px;
}

#church {
    margin: auto;
    height: 150px;
}

#mvhs {
    margin: auto;
    height: 150px;
}

#orem {
    width:100px;
}


body {
    background-image: url("timp.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}