p {font-family: Arial; color: gray;}
body {background-color: darkblue; background-image: ("Hawaii.jpg");}
h1 {text-align: center;
    font-family: Georgia;
    color: white;
    font-size: 300%;
  }
h2 {color: white; font-weight: bold;}
h3 {color: white; font-style: italic}

ul {color: gray;}
.cursive {font-family: cursive;}
.capitalize {text-transform: capitalize;}

