p {font-family: Arial; color: gray;}
body {background-image: https://www.gohawaii.com/sites/default/files/styles/image_gallery_bg_xl/public/hero-unit-images/KVB-Waimea_Canyon-091315_0.jpg?itok=O7UVhTAb("Hawaii.jpg");}
h1 {text-align: center;
    font-family: Georgia;
    color: white;
    font-size: 300%;
  }
h2 {color: white; font-weight: bold;}
h3 {color: white; font-style: italic}

ul {color: gray;}
.cursive {font-family: cursive;}
.capitalize {text-transform: capitalize;}

