p {font-family: Arial; color: gray;}
body {background-color: rgba(200, 200, 255, 0.1);}
h1 {text-align: center;
    font-family: Georgia;
    color: white;
    font-size: 300%;
  }
h2 {color: white; font-weight: bold;}
h3 {color: white; font-style: italic}

ul {color: gray;}
.cursive {font-family: cursive;}
.capitalize {text-transform: capitalize;}

.Overview {border-bottom: 1px solid rgba(255, 255, 255, 0.5);}

.image {background-image: url("Hawaii.jpg");
      background-size: cover; height: 400px; object-fit: contain; ; background-position: center}