.title {
  text-align: center;
  font-size: 400%;
  font-weight: bold;
}

.author {
  text-align: center;
  color: blue;
  font-size: 100%
}

.Input {
  text-align: center;
  margin-top: 30px;
}

#inputNumbers {
  height: 19px;
}

#inputUnits {
  margin-left: auto;
  margin-right: auto;
  color: Blue;
  height: 25px;
}

p {
  text-align: center;
  color: white;
  font-family: cursive;
}

.Output {
  text-align: center;
}

#outputUnits {
  height: 25px
}

.Button {
  text-align: center;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#Convert {
  font-size: 200%;
  text-align: center;
  vertical-align: center;
  color: Red;
  font-family: cursive;
}

#outResult {
    font-weight: bold;
    font-size: 300%;
    font-family: Arial;
    color: white
}

.heading {
    background-color: rgba(255, 255, 255, 0.60);
    padding-top: 20px;
    padding-bottom: 30px;
}

body {
    background-color: rgba(0, 15, 60, 0.90);
}