p {
    font-family: Arial;
    color: gray;
 }

body {
    background-color: rgba(0, 15, 60, 0.90);
    }

h1 {text-align: center;
    font-family: Georgia;
    color: white;
    font-size: 300%;
    font-family: cursive;
    text-transform: capitalize;
  }

h2 {
    color: white;
    font-weight: bold;
    }

h3 {
    color: white;
    font-style: italic
    }

ul {
    color: gray;
    }

.authors {
    color: white;
    text-align: center;
    }

.Overview {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align:left;
    width: 50%;
    padding-bottom: 20px;
 }

.HAimage {
    background-image: url("Hawaii.jpg");
    background-size: cover;
    height: 400px;
    object-fit: contain;
    background-position: center;
    padding-bottom: 30px;
    }

figcaption {
    color: gray;
    text-align: left;
    }