p {
    font-family: Arial;
    color: gray;
 }

body {
    background-color: rgba(0, 15, 60, 0.90);
    }

h1 {text-align: center;
    font-family: Georgia;
    color: white;
    font-size: 300%;
    font-family: cursive;
    text-transform: capitalize;
  }

h2 {
    color: white;
    font-weight: bold;
    }


ul {
    color: gray;
    }


.Overview {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align:left;
    width: 50%;
    padding-bottom: 20px;
 }

figcaption {
    color: gray;
    text-align: left;
    }

#timp {
    width: 8%;

}

#wedding {
    width: 8%;

}

#usu {
    width: 8%;

}

#usu1 {
    width: 8%;

}

#efy {
    width: 8%;

}

#bike {
    width: 8%;
    transform: rotate(90deg);
}

#mission {
    width: 8%;

}

#neb {
    width: 8%;

}